<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Code Hub" class="img-responsive text-center" src="modules/core/img/brand/CodeHubLogo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">

			</p>
		</div>
		<div class="row">
			<p>

			</p>
		</div>
	</div>
	<div>
		<h2></h2>
		<p></p>
		<p></p>
		<ul>


		</ul>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				<strong>Be indispensable to your peers.</strong>
			</h2>
			<p><a target="_blank" ></a> When you use something every day, extra proficiency adds up quickly. Whether you want to become an expert software developer, or just know how to talk the language with engineers, we will help you achieve confidence inspiring skills.</p>
		</div>
		<div class="col-md-4">
			<h2>
				<strong>Engage in a collaborative workspace.</strong>
			</h2>
			<p><a target="_blank" ></a> Your tuition includes a Hub Unlimited membership at Impact Hub Salt Lake, connecting you to a local and global network of changemakers and game-changing organizations. </p>
		</div>
		<div class="col-md-4">
			<h2>
				<strong>Begin your training regimen.</strong>
			</h2>
			<p> <a target="_blank" > </a> Don't worry, we don't like listening to lectures either. That's why you will be spending the majority of your time working on real projects with team members. And when you're done, you'll have something to put your name on that will make you proud.</p>
		</div>

	</div>


</section>
