<section data-ng-controller="BlogsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Student Blogs</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="blog in blogs" data-ng-href="#!/blogs/{{blog._id}}" class="list-group-item">
            <!--placeholder user photo -->
            <img src="http://placekitten.com/80/80">
            <h4 class="list-group-item-heading" data-ng-bind="blog.title"></h4>
            <p class="list-group-item-text" data-ng-bind="blog.body"></p>
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="blog.created | date:'medium'"></span>
                by
                <span data-ng-bind="blog.user.displayName"></span>
            </small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!blogs.$resolved || blogs.length">
    	No Blogs yet, why don't you <a href="/#!/blogs/create">create one</a>?
    </div>
</section>