<section data-ng-controller="StudentsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Students</h1>
    </div>
    <div class="row show-grid" data-ng-repeat="student in students" data-ng-href="#!/students/{{student._id}}">
        <div class="col-md-3">test</div>
        <div class="col-md-9">test2</div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!students.$resolved || students.length">
    	No Students yet, why don't you <a href="/#!/students/create">create one</a>?
    </div>
</section>